body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows : auto auto auto auto auto auto;
}

head{
    grid-row-start: 1;
}

/*Partie de recherche*/
.search{
    width: 100%;
    padding-top: 3%;
    padding-bottom: 5%;
    grid-row-start: 2;
    text-align: center;
}

.search>#site-search{
    padding-left: 5%;
}

/*Partie Filtre*/
#filtre_title{
    grid-row-start: 3;
    text-align: center;

}
.filtrecheck{
    padding: 2%;
    grid-row-start: 4;
    display: grid;
    grid-template-columns: 10% auto auto auto auto auto auto 10%;
    background-color: darkseagreen;
}

.filtrecheck>#Environnement{
    grid-column-start : 2;
}

.filtrecheck>#Reparation{
    grid-column-start: 3;
}

.filtrecheck>#Maraicher{
    grid-column-start: 4;
}

.filtrecheck>#Producteurs{
    grid-column-start: 5;
}

#rafraichir{
    grid-column-start: 7;
    background-color: #222222;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}
button {
    grid-column-start: 7;
    background-color: #222222;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.liste_asso{
    padding: 2%;
}

table {
    border: medium solid #000000;
    width: 100%;
}
td, th {
    border: thin solid #6495ed;
    width: 50%;
}
