#map {
    height: 89vh;
    width: 99vw;
}
.container-form-map{
    width: 250px;
    position: absolute;
    top: 105px;
    left: 10px;
}
.proposer-un-point{
    background-color: #cdcdcd;
    border-radius: 10px;
    color: black;
    border: solid black 1px;
    height: 50px;
    width: 150px;
    position: absolute;
    top: 105px;
    right: 25px;
}